
<div class="c-images-display">
    {% if title_html is defined %}
        <{{ title_tag | default('h2') }}
     class="c-images-display__title h3{% if squeeze_texts | default('') %} squeeze{% endif %} {{ title_extra_classes | default('') }}"
        >{{ title_html | raw }}</{{ title_tag | default('h2') }}>
    {% endif %}

    {% if description_html is defined %}
        <div class="c-images-display__description{% if squeeze_texts | default('') %} squeeze{% endif %}">
            {{ description_html | raw }}
        </div>
    {% endif %}

    <div class="c-images-display__images">
        {% for image in images %}
            <div class="c-images-display__item{% if image.desc_html is not defined %} has-no-caption{% endif %}">
                {% if image.src is defined %}
                    <div class="c-images-display__image-frame {{ item.frame_extra_classes | default('') }}">
                        <img
                            src="{{ image.src }}"
                            class="c-images-display__image {{ image.extra_classes | default('') }}"
                            {% if image.alt is defined %}alt="{{ image.alt }}"{% endif %}
                            {% if image.title is defined %}title="{{ image.title }}"{% endif %}
                        >
                    </div>
                {% endif %}

                {% if image.desc_html is defined %}
                    <div class="c-images-display__image-caption description-appearance text-smallish color-text-weak text-condensed{% if squeeze_texts | default('') %} squeeze{% endif %}">
                        {{ image.desc_html | raw }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

